CREATE TABLE Users (
  Id SERIAL PRIMARY KEY NOT NULL,
  UserName CHAR(45) NOT NULL,
  Password CHAR(100) NOT NULL,
  CreatedBy INT NOT NULL REFERENCES Users(Id),
  CreatedOn TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT NOW(),
  UpdatedBy INT DEFAULT NULL REFERENCES Users(Id),
  UpdatedOn TIMESTAMP WITH TIME ZONE DEFAULT NULL,
  IsActive BOOLEAN NOT NULL DEFAULT TRUE
);

CREATE TYPE UserType AS ENUM ('Admin', 'Author', 'Runner', 'Customer');

CREATE TABLE UserDetails (
  Id SERIAL PRIMARY KEY NOT NULL,
  UserId INT NOT NULL REFERENCES Users(Id),
  Name CHAR(45) NOT NULL,
  ContactNumber CHAR(15) DEFAULT NULL,
  Email CHAR(45) DEFAULT NULL,
  UserType UserType NOT NULL DEFAULT 'Runner',
  IsOnline BOOLEAN NOT NULL DEFAULT FALSE,
  IsAvailable BOOLEAN NOT NULL DEFAULT FALSE,
  CreatedBy INT NOT NULL REFERENCES Users(Id),
  CreatedOn TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT NOW(),
  UpdatedBy INT DEFAULT NULL REFERENCES Users(Id),
  UpdatedOn TIMESTAMP WITH TIME ZONE DEFAULT NULL
);

CREATE TABLE Tasks (
  Id SERIAL PRIMARY KEY NOT NULL,
  OrderID CHAR(45) DEFAULT NULL,
  PickupLocation CHAR(255) DEFAULT NULL,
  PickupTime TIMESTAMP WITH TIME ZONE DEFAULT NULL,
  PickupGPS point DEFAULT NULL,
  DropLocation char(255) DEFAULT NULL,
  DropTime TIMESTAMP WITH TIME ZONE DEFAULT NULL,
  DropGPS point DEFAULT NULL,
  SpecialInstruction CHAR(255) DEFAULT NULL,
  CreatedBy INT NOT NULL REFERENCES Users(Id),
  CreatedOn TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT NOW(),
  UpdatedBy INT DEFAULT NULL REFERENCES Users(Id),
  UpdatedOn TIMESTAMP WITH TIME ZONE DEFAULT NULL
);


CREATE TABLE TasksTracker (
  Id SERIAL PRIMARY KEY NOT NULL,
  TaskId INT NOT NULL REFERENCES Tasks(Id),
  RunnerId INT NOT NULL REFERENCES Users(Id),
  IsConfirmed BOOLEAN NOT NULL DEFAULT FALSE,
  ConfirmedOn TIMESTAMP WITH TIME ZONE DEFAULT NULL,
  ConfirmedBy INT DEFAULT NULL REFERENCES Users(Id),
  IsRunnerAssigned BOOLEAN NOT NULL DEFAULT FALSE,
  RunnerAssignedOn TIMESTAMP WITH TIME ZONE DEFAULT NULL,
  RunnerAssignedBy INT DEFAULT NULL REFERENCES Users(Id),
  IsAtPickup BOOLEAN NOT NULL DEFAULT FALSE,
  PickupReachTime TIMESTAMP WITH TIME ZONE DEFAULT NULL,
  PickupReachUpdatedBy INT DEFAULT NULL REFERENCES Users(Id),
  PickupGPS POINT DEFAULT NULL,
  IsShipped BOOLEAN NOT NULL DEFAULT FALSE,
  ShipStartTime TIMESTAMP WITH TIME ZONE DEFAULT NULL,
  ShipStartUpdatedBy INT DEFAULT NULL REFERENCES Users(Id),
  ShipStartGPS POINT DEFAULT NULL,
  IsDelivered BOOLEAN NOT NULL DEFAULT FALSE,
  DeliveryTime TIMESTAMP WITH TIME ZONE DEFAULT NULL,
  DeliveryUpdatedBy INT DEFAULT NULL REFERENCES Users(Id),
  DeliveryGPS POINT DEFAULT NULL,
  Remark CHAR(255) DEFAULT NULL
);